/** style.css - Pizzeria Mamma Mia **/
/* Schriftarten laden und Farben definieren */
@font-face {
  font-family: "Inter";
  src: url("fonts/Inter/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lobster";
  src: url("fonts/Lobster/Lobster-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg-color: #1a1a1a;
  --text: #fff;
  --subtext: #ddd;
  --design-color: #ff3030;
  scroll-behavior: smooth;
}

/* 2. Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 3. Stile definieren */
body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--bg-color);
  color: var(--text);
}

.nav {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 16px;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  hyphens: manual;
}

.nav a:hover {
  color: var(--design-color);
  transition: 0.3s ease-in-out;
}

.hero {
  height: 92vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

p {
  color: var(--subtext);
  display: block;
  margin-bottom: 1rem;
}

h2 {
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: var(--design-color);
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.title {
  font-family: "Lobster", sans-serif;
  font-weight: bolder;
  font-style: normal;
  font-size: 3rem;
  line-height: 3rem;
  margin: 0 0 1rem 0;
}

.subtitle {
  color: var(--subtext);
}

.btn {
  background-color: var(--design-color);
  color: var(--text);
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 1rem 2rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background-color: transparent;
  color: var(--design-color);
  border-color: var(--design-color);
}

#btn-opening {
  margin-top: 40px;
}

.about {
  display: grid;
  align-items: center;
  gap: 2rem;
  max-width: 90%;
  margin: auto;
  padding: 5rem 0;
}

.about-text-container {
  display: flex;
  flex-direction: column;
}

.about-img-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.about-img-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
}

.img1 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.img2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.img3 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.img-grid {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#btn-menu {
  margin-top: 2rem;
  align-self: flex-start;
}

.opening {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  padding: 4rem 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./img/info.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.opening-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40vh;
}

table {
  border-collapse: collapse;
  margin-top: 1rem;
}

th,
td {
  text-align: center;
  padding: 5px;
  width: 50%;
}

th {
  border-bottom: 1px solid var(--subtext);
  text-transform: uppercase;
}

td {
  color: var(--subtext);
}

.td-left {
  text-align: left;
}

.td-right {
  text-align: right;
}

.closed {
  color: var(--design-color);
}

.footer-container {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer {
  font-size: 0.8rem;
  text-align: center;
  background-color: #303030;
}

/* Gängige Responsive-Größen definieren */
@media (min-width: 600px) {
  .nav {
    gap: 40px;
    font-size: 1rem;
  }

  .title {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  .nav {
    gap: 60px;
  }

  .title {
    font-size: 4rem;
    line-height: 4rem;
  }

  .subtitle {
    font-size: 1.4rem;
  }

  table {
    font-size: 1.2rem;
  }
}

@media (min-width: 992px) {
  .title {
    font-size: 6rem;
    line-height: 6rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .nav {
    gap: 80px;
  }

  h2 {
    font-size: 2rem;
  }

  .about {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  table {
    font-size: 1.4rem;
  }
}
